<!-- blog/templates/blog/engineer_list.html -->
{% extends "blog/base.html" %}

{% block title %}Engineers{% endblock %}

{% block content %}
<h1 class="my-4">Engineers</h1>
<div class="row">
    {% for engineer in engineers %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">{{ engineer.name }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ engineer.position }}</h6>
                    <p class="card-text">{{ engineer.department }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
